@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$blancoA: #FCFCFC;
$naranja: #F7931E;
$azul: #68E0BE;
$gris: #c4c4c4;
$grisO: #727272;
$negro: #474747;
$tiempo: 0.2s;
$lato: 'Lato',
sans-serif;
$nunito: 'Nunito',
'sans-serif';
$paytone: 'Paytone',
sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: $blancoA;
    height: calc(100% - 120px) !important;
}

#contenido {
    min-height: calc(100% - 200px) !important;
}

.con-menu {
    margin: 0.5% 3%;
}

header {
    background: $blancoA;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.20);
    nav {
        z-index: 1000;
        justify-content: center;
        width: 100%;
        .logo {
            width: 150px;
            display: inline-block;
            margin-left: 6%;
            margin-top: 2%;
            a {
                img {
                    width: 100%;
                }
            }
        }
        .menu-bar {
            display: none;
            .fas {
                color: $naranja;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .con-menu {
            width: 76%;
            display: inline-block;
            text-align: right;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    position: relative;
                    margin: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    text-decoration: none;
                    font-weight: 700;
                    color: $grisO;
                    font-size: 14px;
                    text-align: left;
                    color: $grisO;
                    a {
                        text-decoration: none;
                        font-weight: 700;
                        color: $grisO;
                        font-size: 14px;
                        display: block;
                        text-align: left;
                    }
                    ul {
                        display: none;
                        position: absolute;
                        width: 200%;
                        z-index: 100;
                        li {
                            background: $blancoA;
                            display: block;
                            overflow: hidden;
                            transform: translateX(-20px);
                            a {
                                display: block;
                                color: $grisO;
                            }
                        }
                    }
                }
                li:hover {
                    background: $gris;
                    color: $blancoA;
                    a {
                        color: $blancoA;
                    }
                    ul {
                        display: block;
                        li {
                            a {
                                color: $grisO;
                                display: block;
                            }
                        }
                        li:hover {
                            a {
                                color: $blancoA;
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner {
    padding-top: 30px;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    div {
        margin-top: 145px;
        width: 95%;
        img {
            width: 100%;
        }
    }
}

section {
    width: 100%;
    align-content: center;
}

.contenido {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    section {
        article {
            margin-left: 7%;
            width: 60%;
        }
        .imagen {
            margin: 0 !important;
            width: 100%;
            text-align: right;
            img {
                width: 80%;
            }
        }
        p {
            letter-spacing: 1px;
            text-align: justify;
            color: $negro;
        }
        h1 {
            margin-bottom: 3%;
        }
        h2 {
            margin-bottom: 3%;
            font-weight: bold;
        }
    }
    section:nth-child(1) {
        article {
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
    section:nth-child(3) {
        article {
            margin: 0;
            margin-right: 7%;
        }
        .imagen {
            text-align: left;
        }
    }
}

h1 {
    font-family: $lato;
    font-weight: 900;
    font-size: 80px;
    color: $naranja;
}

h2 {
    letter-spacing: 3px;
    color: $grisO;
}

h3 {
    font-family: $nunito;
    color: $blancoA;
    font-size: 17px;
}

footer {
    background: $naranja;
    color: $blancoA;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    section {
        margin: 0;
        width: 100%;
    }
    .sombra {
        background: $naranja;
        font-size: 30px;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 70px;
        .fab {
            opacity: .4;
            font-size: 30px;
            transition: all $tiempo;
        }
        .fab:hover {
            opacity: 1;
            font-size: 35px;
        }
    }
    .desarrolladoPor {
        background: rgb(172, 94, 5);
        font-size: 12px;
        letter-spacing: 0;
        padding: 2px 0;
        box-sizing: border-box;
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            color: $naranja;
        }
    }
}

/* Nosotros */

.cont {
    padding-top: 140px;
    section {
        width: 100%;
        text-align: center;
        padding: 0 5%;
        box-sizing: border-box;
        margin-bottom: 5%;
        article {
            width: 50%;
            border: none;
            div {
                margin: 0 20px;
                .fas {
                    color: $naranja;
                    font-size: 80px;
                }
                h1 {
                    font-size: 60px;
                }
                h2 {
                    text-align: left;
                }
                p {
                    text-align: justify;
                    color: $grisO;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
        }
        article:last-child {
            border-left: solid 4px $naranja;
            padding-left: 20px;
        }
    }
    .quienessomos {
        justify-content: center;
        margin-top: 2%;
    }
    .queproducimos {
        article {
            width: 55%;

            div {
                border-left: solid 4px $naranja;
                padding-left: 30px;
            }
        }

        article:first-child {
            div {
                border: none;
            }
        }
        article:last-child {
            border: none;
            width: 60%;
        }
    }
}

/* Visualización de Articulos */

.contenidoVA {
    padding: 20px 0;
    .izq {
        margin-top: 140px;
        width: 20%;
        article {
            article {
                padding-top: 20px;
                div {
                    margin: 0 5px;
                    font-weight: bold;
                    button {
                        background: none;
                        border: none;
                        font-size: 20px;
                    }
                }
            }
            article:first-child {
                padding: 0;
            }
            .tipo {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: flex-start;
                padding-left: 8%;
                padding-top: 10px;
                .container {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 6px;
                    cursor: pointer;
                    user-select: none;
                    color: $grisO;
                }
                /* Hide the browser's default radio button */
                .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    border: solid 2px $grisO;
                }
                /* On mouse-over, add a grey background color */
                .container:hover input~.checkmark {
                    background-color: #ccc;
                }
                /* When the radio button is checked, add a blue background */
                .container input:checked~.checkmark {
                    background-color: $grisO;
                }
                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                /* Show the indicator (dot/circle) when checked */
                .container input:checked~.checkmark:after {
                    display: block;
                }
            }
            .rango {
                padding: 20px 0;
                div:nth-child(2) {
                    padding-right: 80px;
                    p {
                        margin: 15px 10px;
                    }
                }
                div:last-child {
                    text-align: center;
                    margin-right: 5%;
                    button {
                        font-size: 15px;
                        background: $naranja;
                        color: #fff;
                        padding: 4px 10px;
                    }
                    button:last-child {
                        margin-right: 80px;
                    }
                    button:hover {
                        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
    .der {
        width: 80%;
        margin-top: 140px;
        section {
            padding: 0;
            margin: 0;
            margin-bottom: 15px;
            div:first-child {
                p {
                    color: $grisO;
                    font-weight: bold;
                }
            }
            div:nth-child(2) {
                div {
                    p {
                        color: $grisO;
                        font-weight: bold;
                    }
                    select {
                        margin-left: 5px;
                        color: $grisO;
                    }
                }
            }
            div:last-child {
                div {
                    p {
                        color: $grisO;
                    }
                    div {
                        a {
                            .fas {
                                color: $negro;
                                font-weight: 400;
                                margin-left: 10px;
                                font-size: 20px;
                                opacity: .4;
                            }
                            .fas:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.productos {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    justify-content: space-between;
    article {
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
        float: left;
        width: 300px;
        height: 260px;
        margin-bottom: 20px;
        margin-right: 2.5%;
        opacity: .85;
        a {
            background-color: #fff;
            text-decoration: none;
            .img-info {
                width: 300px;
                img {
                    width: 100%;
                }
            }
            button {
                text-align: center;
            }
            .info {
                margin: 0;
                padding: 0 15px;
                h1 {
                    margin-top: 4px;
                    font-size: 15px;
                    color: $naranja;
                }
                h2 {
                    margin-top: 4px;
                    font-size: 15px;
                    color: $negro;
                    letter-spacing: 0;
                }
            }
        }
    }
    article:hover {
        box-shadow: 5px 5px 5px 0px rgba(247, 147, 30, 0.5);
        opacity: 1;
    }
}

/* Visualización de Cada Ternera */

.atras {
    padding-top: 150px;
    margin-bottom: 10px;
    div {
        a {
            color: $negro;
            text-decoration: none;
            .fas {
                margin-right: 5px;
            }
        }
    }
    div:hover {
        font-weight: bold;
        a {
            color: $naranja;
        }
    }
}

.produc {
    .imagenDet {
        width: 60%;
        margin-top: -8%;
        div {
            width: 90vh;
            height: 55vh;
            background-size: cover;
        }
    }
    .infoDet {
        width: 40%;
        display: inline;
        margin-top: 4%;
        margin-bottom: 14%;
        div {
            padding-right: 70px;
            h1 {
                color: $naranja;
                font-weight: bold;
                font-family: $nunito;
                text-transform: capitalize;
                font-size: 40px;
                margin-bottom: 20px;
            }
            p {
                color: $negro;
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 10px;
                strong {
                    font-weight: bold;
                }
            }
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 18px;
                color: $naranja;
                transition: all .2s;
            }
            a:hover {
                text-decoration: underline;
            }
            .precio {
                font-family: $nunito;
                font-size: 30px;
                color: $negro;
                font-weight: bold;
                margin: 10px 0;
            }
        }
        .visita {
            margin-bottom: 20px;
            a {
                border: none;
                div {
                    font-weight: 300;
                    background: $naranja;
                    color: #fff;
                    font-family: $nunito;
                    padding: 10px;
                    width: 30%;
                    text-align: center;
                }
            }
        }
    }
}

.flex-cont-index {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}