/* --------------------------->  INDEX  <---------------------------*/

//Lapto Large
@media screen and (max-width: 1140px) {
    h1 {
        font-size: 60px;
    }
    .contenido {
        section {
            .imagen {
                img {
                    width: 80%;
                }
            }
        }
    }

    .construccion{
        width: 17%;
    }
}

@media screen and (max-width: 1290px) {
    header {
        nav {
            .logo {
                width: 120px;
            }
            .con-menu {
                width: 77%;
            }
        }
    }
}

//Lapto short
@media screen and (max-width: 1024px) {
    header {
        nav {
            .logo {
                width: 120px;
            }
            .con-menu {
                width: 72%;
            }
        }
    }
    .contenido {
        .aparecer {
            margin-top: 8%;
        }
    }
}

//Tablet
@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    section {
        article {
            .info {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}