$blancoA: #FCFCFC;
$naranja: #F7931E;
$azul: #68E0BE;
$gris: #c4c4c4;
$grisO: #727272;
$negro: #474747;
/* --------------------------->  INDEX  <---------------------------*/

//Lapto Large
@media screen and (max-width: 1140px) {
    h1 {
        font-size: 60px;
    }
    .contenido {
        section {
            .imagen {
                img {
                    width: 80%;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1290px) {
    header {
        nav {
            .logo {
                width: 120px;
            }
            .con-menu {
                width: 77%;
            }
        }
    }
}

//Lapto short
@media screen and (max-width: 1024px) {
    header {
        nav {
            .logo {
                width: 130px;
            }
            .con-menu {
                width: 72%;
            }
        }
    }
    .contenido {
        .aparecer {
            margin-top: 8%;
        }
    }
}

//Tablet
@media screen and (max-width: 845px) {
    header {
        background: $blancoA;
        nav {
            .logo {
                width: 110px;
                margin-bottom: 10px;
            }
            .menu-bar {
                display: inline-block;
                position: fixed;
                top: 3.5%;
                right: 5%;
                .btn-menu {
                    display: block;
                    width: 100%;
                    position: fixed;
                    overflow: hidden;
                }
            }
            .con-menu {
                width: 50%;
                height: 100%;
                position: fixed;
                margin: 0;
                top: 65px;
                //overflow: scroll;
                background: $naranja;
                right: 100%;
                z-index: -1;
                box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.20);
                ul {
                    li {
                        display: block;
                        margin: 0;
                        padding: 20px;
                        color: $blancoA;

                        a {
                            display: block;
                            color: $blancoA;
                        }
                        .children {
                            width: 100%;
                            position: relative;
                            background: none;
                            li {
                                background: none;
                                width: 100%;
                                color: $blancoA;
                                a {
                                    margin-left: 20px;
                                    color: $blancoA;
                                }
                            }
                            li:hover {
                                a {
                                    color: $blancoA;
                                }
                            }
                        }
                    }
                    li:hover {
                        background: rgb(207, 123, 26);
                        .children {
                            li {
                                a {
                                    color: $blancoA;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    section {
        article {
            .info {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}


@media screen and (max-width: 550px) {
    .contenido {
        section {
            .imagen {
                display: none;
                img {
                    width: 80%;
                }
            }
            article{
                margin: 0 7%;
                width:100%;
            }
        }
        section:nth-child(3) {
            article {
                margin: 0 7%;
            }
            
        }
    }
    
    footer {
        margin-top: 10px;
        section {
            .sombra {
                h3 {
                    font-size: 15px;
                }
                .fab {
                    font-size: 25px;
                }
            }
        }
    }
    
}

//Celular Largo
@media screen and (max-width: 550px) {
    
    h1{
font-size: 25px;
    }
    h2{
        color: $naranja;
        border-bottom: solid 2px $naranja;
    }

    section {
        article {
            .info {
                p {
                    font-size: 15px;
                }
            }
        }
    }

    footer {
        margin-top: 15px;
        section {
            .sombra {
                h3 {
                    font-size: 15px;
                    letter-spacing: .2px;
                }
                .fab {
                    font-size: 25px;
                }
            }
        }
    }

}