@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$blancoA: #FCFCFC;
$naranja: #F7931E;
$azul: #68E0BE;
$gris: #c4c4c4;
$grisO: #727272;
$negro: #474747;
$tiempo: 0.2s;
$lato: 'Lato',
sans-serif;
$nunito: 'Nunito',
'sans-serif';
$paytone: 'Paytone',
sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    ::selection {
        background: rgb(255, 193, 123);
        color: #000;
    }
}

html {
    height: 100%;
    body {
        background-color: $blancoA;
        height: calc(100% - 90px) !important;
        #contenido {
            margin-top: 90px;
            min-height: calc(100% - 90px) !important;
        }
    }
}

/*----------------------------    Barra Navegación      --------------------------*/

.container {
    header {
        nav {
            height: 90px;
            background: #FCFCFC;
            div {
                div:nth-child(1) {
                    button {
                        margin: 25px;
                    }
                    a {
                        margin-left: 20px;
                    }
                }
                div:nth-child(2) {
                    ul {
                        .principal {
                            padding: 20px 5px;
                            border-bottom: solid 5px transparent;
                            a {
                                color: $grisO;
                                font-weight: 900;
                                font-family: $nunito;
                            }
                            .secundario {
                                border: none;
                                border-top: solid 5px $naranja;
                                padding: 0;
                                margin: 0;
                                li {
                                    a {
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        color: $grisO;
                                    }
                                    a:hover {
                                        background: transparent;
                                    }
                                }
                            }
                        }
                        .principal:hover {
                            border-bottom: solid 5px $naranja;
                            background-color: #f0f0f0;
                        }
                        .open {
                            background: #dddcdc !important;
                            a {
                                background: transparent !important;
                            }
                            .secundario {
                                li {
                                    a {
                                        color: $grisO !important;
                                    }
                                }
                                li:hover {
                                    background: rgb(240, 240, 240);
                                }
                            }
                        }
                    }
                    .collapse {
                        .in {
                            height: 900px;
                        }
                    }
                }
            }
        }
    }
}

//XS y SM Screen
@media screen and (max-width:992px) {
    .container {
        header {
            nav {
                height: 90px;
                background: #FCFCFC;
                div {
                    div:nth-child(2) {
                        background: #FCFCFC;
                        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        ul {
                            margin-top: 0;
                            margin-bottom: 0;
                            .principal {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----------------------------    Footer      --------------------------*/

footer {
    background: $naranja;
    color: $blancoA;
    letter-spacing: 3px;
    text-align: center;
    box-sizing: border-box;
    section {
        margin: 0;
    }
    .sombra {
        background: $naranja;
        font-size: 30px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 20px;
        h3 {
            font-family: $nunito;
            color: $blancoA;
            font-size: 17px;
            font-weight: 700;
        }
        .fab {
            opacity: .4;
            font-size: 30px;
            transition: all $tiempo;
        }
        .fab:hover {
            opacity: 1;
            font-size: 35px;
        }
    }
    .desarrolladoPor {
        background: rgb(172, 94, 5);
        font-size: 12px;
        letter-spacing: 0;
        padding: 2px 0;
        box-sizing: border-box;
        padding-top: 10px;
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            color: $naranja;
        }
    }
}

/*----------------------------    Generales      --------------------------*/

.active {
    background-color: $naranja !important;
    a {
        background-color: transparent !important;
        color: $blancoA !important;
    }
    .secundario {
        border: none !important;
    }
}

/*----------------------------    Nosotros      --------------------------*/

#nosotros {
    article {
        h1 {
            font-family: $lato;
            font-weight: 900;
            font-size: 45px;
            color: $naranja;
            margin-bottom: 80px;
        }
        div {
            p {
                font-family: $lato;
                color: $negro;
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
        .card {
            background: #fff;
            padding: 20px 0;
            opacity: .8;
            transition: all .4s;
            box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 50px;
            height: 400px;
            div:first-child {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 50px;
                img {
                    filter: grayscale(100%);
                }
            }
            div:last-child {
                h3 {
                    font-weight: 900;
                    font-family: $lato;
                    font-size: 17px;
                    color: $gris;
                }
                p {
                    margin: 0 20px;
                }
            }
        }
        .card:hover {
            opacity: 1;
            box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
            background: #f8f8f8;
            div:first-child {
                text-align: center;
                img {
                    filter: grayscale(0);
                }
            }
            div:last-child {
                h3 {
                    color: $naranja;
                }
            }
        } //XS Screen
        @media (min-width:1200px) {
            #nosotros {
                article {
                    h1 {
                        font-size: 45px;
                    }
                }
                    .card {
                        height: 400px;
                    
                }
            }
        } //XS Screen
        @media (min-width:992px) and (max-width:1199px) {
            #nosotros {
                article {
                    h1 {
                        font-size: 35px;
                    }
                }
                    .card {
                        height: 450px;
                        width: 265px;
                    }
                
            }
        } //XS Screen
        @media (min-width:768px) and (max-width:991px) {
            #nosotros {
                article {
                    h1 {
                        font-size: 30px;
                    }
                }
                    .card {
                        height: 280px;
                        width: 800px;
                    }
                
            }
        } //XS Screen
        @media (max-width:767px) {
            #nosotros {
                article {
                    h1 {
                        font-size: 20px;
                    }
                    
                        .card {
                            height: 300px;
                            width: 630px;
                            border: solid 1px $grisO;
                        }
                    
                }
            }
        }
    }
}

/*----------------------------    Venta de Ganado      --------------------------*/

#ventaGanado {
    article {
        div {
            margin-bottom: 80px;
            h1 {
                font-family: $lato;
                font-weight: 900;
                font-size: 45px;
                color: $naranja;
            }
            p {
                font-family: $nunito;
                color: $negro;
                letter-spacing: 1px;
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
        .card {
            background: #fff;
            padding: 20px 0;
            opacity: .8;
            transition: all .4s;
            box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 50px;
            height: 400px;
            a {
                text-decoration: none;
                div:first-child {
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    img {
                        filter: grayscale(100%);
                    }
                }
                div:last-child {
                    h3 {
                        font-weight: 900;
                        font-family: $lato;
                        font-size: 17px;
                        color: $gris;
                    }
                    p {
                        margin: 0 20px;
                    }
                }
            }
        }
        .card:hover {
            opacity: 1;
            box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
            background: #f8f8f8;
            a {
                div:first-child {
                    text-align: center;
                    img {
                        filter: grayscale(0);
                    }
                }
                div:last-child {
                    h3 {
                        color: $naranja;
                    }
                }
            }
        } //XS Screen
        @media screen and (min-width:1200px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 45px;
                    }
                    .card {
                        height: 400px;
                    }
                }
            }
        } //XS Screen
        @media screen and (min-width:992px) and (max-width:1199px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 35px;
                    }
                    .card {
                        height: 450px;
                    }
                }
            }
        } //XS Screen
        @media screen and (min-width:768px) and (max-width:991px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 30px;
                    }
                    .card {
                        height: 280px;
                    }
                }
            }
        } //XS Screen
        @media screen and (max-width:767px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 20px;
                    }
                    .card {
                        height: 300px;
                        border: solid 1px $grisO;
                    }
                }
            }
        }
    }
}