@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Paytone+One");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

* ::-moz-selection {
  background: #ffc17b;
  color: #000;
}

* ::selection {
  background: #ffc17b;
  color: #000;
}

html {
  height: 100%;
}

html body {
  background-color: #FCFCFC;
  height: calc(100% - 90px) !important;
}

html body #contenido {
  margin-top: 90px;
  min-height: calc(100% - 179px) !important;
}

/*----------------------------    Barra Navegación      --------------------------*/
.container header nav {
  height: 90px;
  background: #FCFCFC;
}

.container header nav div div:nth-child(1) button {
  margin: 25px;
}

.container header nav div div:nth-child(1) a {
  margin-left: 20px;
}

.container header nav div div:nth-child(2) ul .principal {
  padding: 20px 5px;
  border-bottom: solid 5px transparent;
}

.container header nav div div:nth-child(2) ul .principal a {
  color: #727272;
  font-weight: 900;
  font-family: "Nunito", "sans-serif";
}

.container header nav div div:nth-child(2) ul .principal .secundario {
  border: none;
  border-top: solid 5px #F7931E;
  padding: 0;
  margin: 0;
}

.container header nav div div:nth-child(2) ul .principal .secundario li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #727272;
}

.container header nav div div:nth-child(2) ul .principal .secundario li a:hover {
  background: transparent;
}

.container header nav div div:nth-child(2) ul .principal:hover {
  border-bottom: solid 5px #F7931E;
  background-color: #f0f0f0;
}

.container header nav div div:nth-child(2) ul .open {
  background: #dddcdc !important;
}

.container header nav div div:nth-child(2) ul .open a {
  background: transparent !important;
}

.container header nav div div:nth-child(2) ul .open .secundario li a {
  color: #727272 !important;
}

.container header nav div div:nth-child(2) ul .open .secundario li:hover {
  background: #f0f0f0;
}

.container header nav div div:nth-child(2) .collapse .in {
  height: 900px;
}

@media screen and (max-width: 768px) {
  .container header nav {
    height: 90px;
    background: #FCFCFC;
  }
  .container header nav div div:nth-child(2) {
    background: #FCFCFC;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  }
  .container header nav div div:nth-child(2) ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .container header nav div div:nth-child(2) ul .principal {
    padding: 0;
  }
}

/*----------------------------    Footer      --------------------------*/
footer {
  background: #F7931E;
  color: #FCFCFC;
  letter-spacing: 3px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 18px;
}

footer section {
  margin: 0;
}

footer .sombra {
  background: #F7931E;
  font-size: 30px;
  padding: 0;
  padding-top: 10px;
}

footer .sombra h3 {
  font-family: "Nunito", "sans-serif";
  color: #FCFCFC;
  font-size: 17px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

footer .sombra p {
  font-size: 15px;
  letter-spacing: 0;
  opacity: .7;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
}

footer .sombra p .fas {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

footer .sombra p:hover {
  opacity: 1;
}

footer .sombra .fab {
  opacity: .4;
  font-size: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .sombra .fab:hover {
  opacity: 1;
  font-size: 35px;
}

footer .desarrolladoPor {
  background: #ac5e05;
  font-size: 12px;
  letter-spacing: 0;
  padding: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}

footer .desarrolladoPor a {
  color: #fff;
  text-decoration: none;
}

footer .desarrolladoPor a:hover {
  color: #F7931E;
}

/*----------------------------    Generales      --------------------------*/
.active {
  background-color: #F7931E !important;
}

.active a {
  background-color: transparent !important;
  color: #FCFCFC !important;
}

.active .secundario {
  border: none !important;
}

.hidden {
  display: none !important;
}

/*----------------------------    Index      --------------------------*/
#index {
  padding: 0;
  margin: 0;
}

#index .banner {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index .banner div {
  margin-top: 120px;
  width: 95%;
}

#index .banner div img {
  width: 100%;
}

#index .informacionvacas {
  padding: 0;
  margin: 0;
}

#index .informacionvacas section .info {
  width: 70%;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 0;
}

#index .informacionvacas section .info p {
  font-family: "Lato", sans-serif;
}

#index .informacionvacas section .imagen {
  margin: 0 !important;
  text-align: right;
  padding: 0;
}

#index .informacionvacas section:nth-child(2) .info {
  margin-top: 35%;
  margin-left: 15%;
}

#index .informacionvacas section:nth-child(2) .imagen {
  margin: 0 !important;
  text-align: left;
  padding: 0;
}

#index h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #F7931E;
  margin-bottom: 50px;
}

#index h2 {
  letter-spacing: 3px;
  color: #727272;
  margin-bottom: 40px;
}

#index h3 {
  font-family: "Nunito", "sans-serif";
  color: #FCFCFC;
  font-size: 17px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #index .informacionvacas {
    padding: 0;
    margin: 0;
  }
  #index .informacionvacas section .info {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: 0;
  }
  #index .informacionvacas section .imagen img {
    width: 80%;
  }
  #index .informacionvacas section:nth-child(2) .info {
    margin-top: 35%;
    margin-left: -10%;
  }
}

@media (max-width: 991px) {
  html {
    min-height: calc(100% - 10px) !important;
  }
  #index {
    margin: 20px 0;
  }
  #index .informacionvacas {
    padding: 0;
    margin: 0;
  }
  #index .informacionvacas section .info {
    width: 100%;
    margin: 0;
  }
  #index .informacionvacas section:nth-child(2) .info {
    margin: 0;
  }
}

/*----------------------------    Nosotros      --------------------------*/
#nosotros article h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #F7931E;
  margin-bottom: 80px;
}

#nosotros article div p {
  font-family: "Lato", sans-serif;
  color: #474747;
  font-size: 15px;
  margin-bottom: 15px;
}

#nosotros article .card {
  background: #fff;
  padding: 20px 0;
  opacity: .8;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

#nosotros article .card div:first-child {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#nosotros article .card div:first-child img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#nosotros article .card div:last-child h3 {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #c4c4c4;
}

#nosotros article .card div:last-child p {
  margin: 0 20px;
}

#nosotros article .card:hover {
  opacity: 1;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
  background: #f8f8f8;
}

#nosotros article .card:hover div:first-child {
  text-align: center;
}

#nosotros article .card:hover div:first-child img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#nosotros article .card:hover div:last-child h3 {
  color: #F7931E;
}

@media (min-width: 1200px) {
  #nosotros article #nosotros article h1 {
    font-size: 45px;
  }
  #nosotros article #nosotros .card {
    height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #nosotros article #nosotros article h1 {
    font-size: 35px;
  }
  #nosotros article #nosotros .card {
    height: 450px;
    width: 265px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #nosotros article #nosotros article h1 {
    font-size: 30px;
  }
  #nosotros article #nosotros .card {
    height: 280px;
    width: 800px;
  }
}

@media (max-width: 767px) {
  #nosotros article #nosotros article h1 {
    font-size: 20px;
  }
  #nosotros article #nosotros article .card {
    height: 300px;
    width: 630px;
    border: solid 1px #727272;
  }
}

/*----------------------------    Venta de Ganado      --------------------------*/
#ventaGanado article div {
  margin-bottom: 80px;
}

#ventaGanado article div h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #F7931E;
}

#ventaGanado article div p {
  font-family: "Nunito", "sans-serif";
  color: #474747;
  font-size: 15px;
  margin-bottom: 15px;
}

#ventaGanado article .card {
  background: #fff;
  padding: 20px 0;
  opacity: .8;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

#ventaGanado article .card a {
  text-decoration: none;
}

#ventaGanado article .card a div:first-child {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#ventaGanado article .card a div:first-child img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#ventaGanado article .card a div:last-child h3 {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #c4c4c4;
}

#ventaGanado article .card a div:last-child p {
  margin: 0 20px;
}

#ventaGanado article .card:hover {
  opacity: 1;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
  background: #f8f8f8;
}

#ventaGanado article .card:hover a div:first-child {
  text-align: center;
}

#ventaGanado article .card:hover a div:first-child img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#ventaGanado article .card:hover a div:last-child h3 {
  color: #F7931E;
}

@media screen and (min-width: 1200px) {
  #ventaGanado article #ventaGanado article h1 {
    font-size: 45px;
  }
  #ventaGanado article #ventaGanado article .card {
    height: 400px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #ventaGanado article #ventaGanado article h1 {
    font-size: 35px;
  }
  #ventaGanado article #ventaGanado article .card {
    height: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #ventaGanado article #ventaGanado article h1 {
    font-size: 30px;
  }
  #ventaGanado article #ventaGanado article .card {
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  #ventaGanado article #ventaGanado article h1 {
    font-size: 20px;
  }
  #ventaGanado article #ventaGanado article .card {
    height: 300px;
    border: solid 1px #727272;
  }
}

/*----------------------------    Asesoría Técnica      --------------------------*/
#asesoriatecnica article h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #F7931E;
  margin-bottom: 80px;
}

#asesoriatecnica article div p {
  font-family: "Lato", sans-serif;
  color: #474747;
  font-size: 15px;
  margin-bottom: 15px;
}

/*----------------------------    Terneras      --------------------------*/
#terneras .seccion-filtros button {
  background: none;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

#terneras .seccion-filtros button .fas {
  color: #474747;
  font-size: 15px;
}

#terneras .seccion-filtros #filtros .rango {
  display: block;
  margin-left: 15px;
  margin-top: 5px;
}

#terneras .seccion-filtros #filtros .rango .slidecontainer .slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
}

#terneras .seccion-filtros #filtros .rango .valores .valor-text {
  display: inline-block;
  width: 48%;
}

#terneras .seccion-filtros #filtros .rango .botones {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#terneras .seccion-filtros #filtros .rango .botones .btn-filtro {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #FCFCFC;
  background-color: #F7931E;
  padding: 5px 10px;
  display: inline-block;
}

#terneras .seccion-productos section .filtros-top div {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 5px;
}

#terneras .seccion-productos section .filtros-top div p {
  color: #727272;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0 10px;
}

#terneras .seccion-productos section .filtros-top div a {
  text-decoration: none;
  color: #727272;
  opacity: .7;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#terneras .seccion-productos section .filtros-top div a .fas {
  font-size: 20px;
  margin: 0 5px;
}

#terneras .seccion-productos section .filtros-top div a:hover {
  color: #F7931E;
  opacity: 1;
}

#terneras .seccion-productos section .productos section article {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px #c4c4c4;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#terneras .seccion-productos section .productos section article a {
  text-decoration: none;
}

#terneras .seccion-productos section .productos section article a .img-info {
  width: 95%;
}

#terneras .seccion-productos section .productos section article a .img-info img {
  width: 100%;
}

#terneras .seccion-productos section .productos section article:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/*----------------------------    Contacto      --------------------------*/
#contacto .contenido .contacto {
  margin-bottom: 50px;
}

#contacto .contenido .contacto h2 {
  text-align: center;
  color: #F7931E;
  margin-bottom: 50px;
  font-weight: bold;
}

#contacto .contenido .contacto form div {
  margin: 10px 0;
}

#contacto .contenido .contacto form div p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#contacto .contenido .contacto form div input {
  width: 100%;
  border: none;
  height: 30px;
  background: #f3f3f3;
  padding: 10px;
}

#contacto .contenido .contacto form div input:focus {
  outline-color: #F7931E;
}

#contacto .contenido .contacto form .mensaje {
  width: 100%;
}

#contacto .contenido .contacto form .mensaje textarea {
  width: 100%;
  height: 100px;
  background: #f3f3f3;
  padding: 10px;
  border: none;
}

#contacto .contenido .contacto form .mensaje textarea:focus {
  outline-color: #F7931E;
}

#contacto .contenido .contacto form .boton {
  display: block;
  text-align: center;
}

#contacto .contenido .contacto form .boton button {
  width: 70%;
  border: none;
  background: #F7931E;
  color: #FCFCFC;
  font-weight: bold;
  height: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

#contacto .contenido .contacto form .boton button:hover {
  background: #cc7417;
}

#contacto .contenido .maps {
  height: 600px;
}

.obligatorio p::before {
  content: "* ";
  color: #F7931E;
}
/*# sourceMappingURL=style.css.map */