@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$blancoA: #FCFCFC;
$naranja: #F7931E;
$azul: #68E0BE;
$gris: #c4c4c4;
$grisO: #727272;
$negro: #474747;
$tiempo: 0.2s;
$lato: 'Lato',
sans-serif;
$nunito: 'Nunito',
'sans-serif';
$paytone: 'Paytone',
sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    ::selection {
        background: rgb(255, 193, 123);
        color: #000;
    }
}

html {
    height: 100%;
    body {
        background-color: $blancoA;
        height: calc(100% - 90px) !important;
        #contenido {
            margin-top: 90px;
            min-height: calc(100% - 179px) !important;
        }
    }
}

/*----------------------------    Barra Navegación      --------------------------*/

.container {
    header {
        nav {
            height: 90px;
            background: #FCFCFC;
            div {
                div:nth-child(1) {
                    button {
                        margin: 25px;
                    }
                    a {
                        margin-left: 20px;
                    }
                }
                div:nth-child(2) {
                    ul {
                        .principal {
                            padding: 20px 5px;
                            border-bottom: solid 5px transparent;
                            a {
                                color: $grisO;
                                font-weight: 900;
                                font-family: $nunito;
                            }
                            .secundario {
                                border: none;
                                border-top: solid 5px $naranja;
                                padding: 0;
                                margin: 0;
                                li {
                                    a {
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        color: $grisO;
                                    }
                                    a:hover {
                                        background: transparent;
                                    }
                                }
                            }
                        }
                        .principal:hover {
                            border-bottom: solid 5px $naranja;
                            background-color: #f0f0f0;
                        }
                        .open {
                            background: #dddcdc !important;
                            a {
                                background: transparent !important;
                            }
                            .secundario {
                                li {
                                    a {
                                        color: $grisO !important;
                                    }
                                }
                                li:hover {
                                    background: rgb(240, 240, 240);
                                }
                            }
                        }
                    }
                    .collapse {
                        .in {
                            height: 900px;
                        }
                    }
                }
            }
        }
    }
}

//XS y SM Screen
@media screen and (max-width:768px) {
    .container {
        header {
            nav {
                height: 90px;
                background: #FCFCFC;
                div {
                    div:nth-child(2) {
                        background: #FCFCFC;
                        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
                        ul {
                            margin-top: 0;
                            margin-bottom: 0;
                            .principal {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----------------------------    Footer      --------------------------*/

footer {
    background: $naranja;
    color: $blancoA;
    letter-spacing: 3px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 18px;
    section {
        margin: 0;
    }
    .sombra {
        background: $naranja;
        font-size: 30px;
        padding: 0;
        padding-top: 10px;
        h3 {
            font-family: $nunito;
            color: $blancoA;
            font-size: 17px;
            font-weight: 700;
            padding: 0;
            margin: 0;
        }
        p {
            font-size: 15px;
            letter-spacing: 0;
            opacity: .7;
            transition: all .4s;
            display: inline-block;
            .fas {
                transform: scaleX(-1);
            }
        }
        p:hover {
            opacity: 1;
        }
        .fab {
            opacity: .4;
            font-size: 30px;
            transition: all $tiempo;
        }
        .fab:hover {
            opacity: 1;
            font-size: 35px;
        }
    }
    .desarrolladoPor {
        background: rgb(172, 94, 5);
        font-size: 12px;
        letter-spacing: 0;
        padding: 2px 0;
        box-sizing: border-box;
        padding-top: 10px;
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            color: $naranja;
        }
    }
}

/*----------------------------    Generales      --------------------------*/

.active {
    background-color: $naranja !important;
    a {
        background-color: transparent !important;
        color: $blancoA !important;
    }
    .secundario {
        border: none !important;
    }
}

.hidden {
    display: none !important;
}

.obligatorio {
    p::before {
        content: "* ";
        color: $naranja;
    }
}

/*----------------------------    Index      --------------------------*/

#index {
    padding: 0;
    margin: 0;
    .banner {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        div {
            margin-top: 120px;
            width: 95%;
            img {
                width: 100%;
            }
        }
    }
    .informacionvacas {
        padding: 0;
        margin: 0;
        section {
            .info {
                width: 70%;
                margin-top: 20%;
                margin-bottom: 10%;
                margin-left: 15%;
                margin-right: 0;
                p {
                    font-family: $lato;
                }
            }
            .imagen {
                margin: 0 !important;
                text-align: right;
                padding: 0;
            }
        }
        section:nth-child(2) {
            .info {
                margin-top: 35%;
                margin-left: 15%;
            }
            .imagen {
                margin: 0 !important;
                text-align: left;
                padding: 0;
            }
        }
    }
    h1 {
        font-family: $lato;
        font-weight: 900;
        font-size: 45px;
        color: $naranja;
        margin-bottom: 50px;
    }
    h2 {
        letter-spacing: 3px;
        color: $grisO;
        margin-bottom: 40px;
        font-weight: 700;
    }
    h3 {
        font-family: $nunito;
        color: $blancoA;
        font-size: 17px;
    }
}

//md Screen
@media (min-width:992px) and (max-width:1199px) {
    #index {
        .informacionvacas {
            padding: 0;
            margin: 0;
            section {
                .info {
                    width: 90%;
                    margin-top: 20%;
                    margin-bottom: 10%;
                    margin-right: 0;
                }
                .imagen {
                    img {
                        width: 80%;
                    }
                }
            }
            section:nth-child(2) {
                .info {
                    margin-top: 35%;
                    margin-left: -10%;
                }
            }
        }
    }
} //XS Screen
@media (max-width:991px) {
    html {
        min-height: calc(100% - 10px) !important;
    }
    #index {
        margin: 20px 0;
        .informacionvacas {
            padding: 0;
            margin: 0;
            section {
                .info {
                    width: 100%;
                    margin: 0;
                }
            }
            section:nth-child(2) {
                .info {
                    margin: 0;
                }
            }
        }
    }
}

/*----------------------------    Nosotros      --------------------------*/

#nosotros {
    article {
        h1 {
            font-family: $lato;
            font-weight: 900;
            font-size: 45px;
            color: $naranja;
            margin-bottom: 80px;
        }
        div {
            p {
                font-family: $lato;
                color: $negro;
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
        .card {
            background: #fff;
            padding: 20px 0;
            opacity: .8;
            transition: all .4s;
            box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 50px;
            height: 400px;
            div:first-child {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 50px;
                img {
                    filter: grayscale(100%);
                }
            }
            div:last-child {
                h3 {
                    font-weight: 700;
                    font-family: $nunito;
                    font-size: 17px;
                    color: $gris;
                }
                p {
                    margin: 0 20px;
                    color: $gris;
                    transition: all .4s;

                }
            }
        }
        .card:hover {
            opacity: 1;
            box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
            background: #f8f8f8;
            div:first-child {
                text-align: center;
                img {
                    filter: grayscale(0);
                }
            }
            div:last-child {
                h3 {
                    color: $naranja;
                }
                p{
                    color: $negro;
                }
            }
        }
    }
}

//LG Screen
@media (min-width:1200px) {
    #nosotros {
        article {
            h1 {
                font-size: 45px;
            }
            .card {
                height: 400px;
            }
        }
    }
} //MD Screen
@media (min-width:992px) and (max-width:1199px) {
    #nosotros {
        article {
            h1 {
                font-size: 35px;
            }
            .card {
                height: 450px;
            }
        }
    }
} //SM Screen
@media (min-width:768px) and (max-width:991px) {
    #nosotros {
        article {
            h1 {
                font-size: 30px;
            }
            .card {
                height: 280px;
                border: solid 1px $gris;
            }
        }
    }
} //XS Screen
@media (max-width:767px) {
    #nosotros {
        article {
            h1 {
                font-size: 20px;
            }
            .card {
                height: 300px;
                border: solid 1px $gris;
            }
        }
    }
}

/*----------------------------    Venta de Ganado      --------------------------*/

#ventaGanado {
    article {
        div {
            margin-bottom: 80px;
            h1 {
                font-family: $lato;
                font-weight: 900;
                font-size: 45px;
                color: $naranja;
            }
            p {
                font-family: $nunito;
                color: $negro;
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
        .card {
            background: #fff;
            padding: 20px 0;
            opacity: .8;
            transition: all .4s;
            box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 50px;
            a {
                text-decoration: none;
                div:first-child {
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    img {
                        filter: grayscale(100%);
                    }
                }
                div:last-child {
                    h3 {
                        font-weight: 900;
                        font-family: $nunito;
                        font-size: 17px;
                        color: $gris;
                    }
                    p {
                        margin: 0 20px;
                    }
                }
            }
        }
        .card:hover {
            opacity: 1;
            box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
            background: #f8f8f8;
            a {
                div:first-child {
                    text-align: center;
                    img {
                        filter: grayscale(0);
                    }
                }
                div:last-child {
                    h3 {
                        color: $naranja;
                    }
                }
            }
        } //XS Screen
        @media screen and (min-width:1200px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 45px;
                    }
                    .card {
                        height: 400px;
                    }
                }
            }
        } //XS Screen
        @media screen and (min-width:992px) and (max-width:1199px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 35px;
                    }
                    .card {
                        height: 450px;
                    }
                }
            }
        } //XS Screen
        @media screen and (min-width:768px) and (max-width:991px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 30px;
                    }
                    .card {
                        height: 280px;
                    }
                }
            }
        } //XS Screen
        @media screen and (max-width:767px) {
            #ventaGanado {
                article {
                    h1 {
                        font-size: 20px;
                    }
                    .card {
                        height: 300px;
                        border: solid 1px $grisO;
                    }
                }
            }
        }
    }
}

/*----------------------------    Asesoría Técnica      --------------------------*/

#asesoriatecnica {
    article {
        h1 {
            font-family: $lato;
            font-weight: 900;
            font-size: 45px;
            color: $naranja;
            margin-bottom: 80px;
        }
        div {
            p {
                font-family: $lato;
                color: $negro;
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
    }
}

/*----------------------------    Visualización Productos      --------------------------*/

#terneras {
    .seccion-filtros {
        button {
            background: none;
            border: none;
            font-family: $lato;
            font-weight: bold;
            display: block;
            margin-top: 20px;
            .fas {
                color: $negro;
                font-size: 15px;
            }
        }
        #filtros {
            .rango {
                display: block;
                margin-left: 15px;
                margin-top: 5px;
                .slidecontainer {
                    .slider {
                        box-sizing: border-box;
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        width: 49%;
                    }
                }
                .valores {
                    .valor-text {
                        display: inline-block;
                        width: 48%;
                    }
                }
                .botones {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    .btn-filtro {
                        font-family: $lato;
                        font-weight: bold;
                        color: $blancoA;
                        background-color: $naranja;
                        padding: 5px 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .seccion-productos {
        section {
            .filtros-top {
                div {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    margin-bottom: 5px;
                    p {
                        color: $grisO;
                        font-family: $lato;
                        font-weight: bold;
                        margin: 0 10px;
                    }
                    a {
                        text-decoration: none;
                        color: $grisO;
                        opacity: .7;
                        transition: all .4s;
                        .fas {
                            font-size: 20px;
                            margin: 0 5px;
                        }
                    }
                    a:hover {
                        color: $naranja;
                        opacity: 1;
                    }
                }
            }
            .productos {
                section {
                    article {
                        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                        box-sizing: border-box;
                        margin-bottom: 20px;
                        padding: 20px;
                        border: solid 1px $gris;
                        filter: grayscale(1);
                        transition: all .4s;
                        a {
                            text-decoration: none;
                            .img-info {
                                width: 95%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    article:hover {
                        opacity: 1;
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

/*----------------------------    Visualización Cada Producto      --------------------------*/

#productos {
    .devolverse {
        margin-bottom: 20px;
        a {
            color: $grisO;
            text-decoration: none;
        }
    }
    section {
        article {
            .imagen {
                background-repeat: no-repeat;
                background-size: contain;
                height: 600px;
                width: 100%;
            }
            div {
                h1 {
                    font-family: $lato;
                    font-weight: 900;
                    color: $naranja;
                }
                h4 {
                    font-family: $lato;
                    font-weight: 700;
                    color: $grisO;
                    font-size: 15px;
                    display: inline-block;
                }
                p {
                    text-align: justify;
                    color: $grisO;
                    display: inline-block;
                }
            }
        }
    }
}

/*----------------------------    Contacto      --------------------------*/

#contacto {
    margin: 50px 0;
    margin-bottom: 90px;
    .contacto {
        h2 {
            text-align: center;
            color: $naranja;
            margin-bottom: 50px;
            font-weight: bold;
        }
        form {
            div {
                margin: 10px 0;
                p {
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                }
                input {
                    width: 100%;
                    border: none;
                    height: 30px;
                    background: #f3f3f3;
                    padding: 10px;
                }
                input:focus {
                    outline-color: $naranja;
                }
            }
            .mensaje {
                width: 100%;
                textarea {
                    width: 100%;
                    height: 100px;
                    background: #f3f3f3;
                    padding: 10px;
                    border: none;
                }
                textarea:focus {
                    outline-color: $naranja;
                }
            }
            .boton {
                display: block;
                text-align: center;
                button {
                    width: 70%;
                    border: none;
                    background: $naranja;
                    color: $blancoA;
                    font-weight: bold;
                    height: 30px;
                    transition: all .3s;
                    outline: none;
                }
                button:hover {
                    background: rgb(204, 116, 23);
                }
            }
        }
    }
    .maps {
        height: 600px;
    }
}