<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El Sáman | Contacto</title>
    <link rel="icon" type="image/png" href="/imagenes/icono2.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf"
        crossorigin="anonymous">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/estilos/style.css">
</head>

<body>
    <div class="container">
        </br>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a href="/" class="navbar-brand">
                            <img alt="El Saman" src="/imagenes/logo.png">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="navbar-1">
                        <ul class="nav navbar-nav">
                            <li class="principal">
                                <a href="/nosotros">NOSOTROS</a>
                            </li>
                            <li class="dropwdown principal">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">SERVICIOS
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secundario">
                                    <li>
                                        <a href="/servicios/ventadeganado">Venta de Ganado</a>
                                    </li>
                                    <li>
                                        <a href="/servicios/asesoriatecnica">Asesoría Técnica</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown principal">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"> GÉNETICA
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secundario">
                                    <li>
                                        <a href="/genetica/embriones">Embriones</a>
                                    </li>
                                    <li>
                                        <a href="/genetica/terneras">Terneras</a>
                                    </li>
                                    <li>
                                        <a href="/genetica/novillas">Novillas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="principal active">
                                <a href="/contacto">CONTACTO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <section id="contenido" class="container-fluid">
        <section id="contacto" class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner">
                <img src="" alt="">
            </article>
            <section class="container contenido">
                <section class="contacto col-xs-12 col-sm-12 col-md-6 col-lg-6 aparecer">
                    <h2>ENVÍANOS UN MENSAJE</h2>
                    <form action="enviar.php" method="post">
                        <div class="nombre col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>NOMBRES</p>
                            <input type="text" name="nombre" placeholder="Nombres" required>
                        </div>

                        <div class="apellido col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>APELLIDOS</p>
                            <input type="text" name="apellido" placeholder="Apellidos" required>
                        </div>

                        <div class="empresa col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>EMPRESA</p>
                            <input type="text" name="empresa" placeholder="El Saman" required>
                        </div>

                        <div class="telefono col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>CIUDAD</p>
                            <input type="text" name="ciudad" placeholder="Santiago de Cali" required>
                        </div>

                        <div class="telefono col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>TÉLEFONO</p>
                            <input type="number" name="telefono" placeholder="123 456 78 90" required>
                        </div>
                        <div class="email col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>EMAIL</p>
                            <input type="email" name="email" placeholder="correo@correo.com" required>
                        </div>
                        <div class="asunto col-xs-12 col-sm-12 col-md-6 col-lg-6 obligatorio">
                            <p>ASUNTO</p>
                            <input type="text" name="asunto" placeholder="Evento Importante" required>
                        </div>
                        <div class="mensaje col-xs-12 col-sm-12 col-md-12 col-lg-12 obligatorio">
                            <p>MENSAJE</p>
                            <textarea name="comment" name="mensaje" placeholder="Hola, estoy interesado en ..." required></textarea>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 boton">
                            <button type="submit"> ENVIAR</button>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 boton">
                            <button type="reset"> RESTABLECER</button>
                        </div>
                    </form>
                </section>
                <section class="maps col-xs-12 col-sm-12 col-md-6 col-lg-6 aparecer">
                    <iframe class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1989.8105433688552!2d-76.24134978736933!3d4.097271999648499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e39c5e72d0edc89%3A0x51b3793677fe78c4!2sHacienda+El+Sam%C3%A1n!5e0!3m2!1ses!2sco!4v1530745301360"
                        height="570" frameborder="0" style="border:0" ></iframe>
                </section>
            </section>
        </section>
    </section>
</body>


<footer class="containe-fluid">
    <section>
        <div class="sombra">
            <h3>SÍGUENOS EN NUESTRAS REDES SOCIALES</h3>

            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-google-plus-square"></i>
        </div>

        <div class="desarrolladoPor">
            <p> Design by:
                <a href="https://www.behance.net/IsabellaSandoval" target="_blank">Isabella Sandoval </a> | Development by:
                <a href="https://www.behance.net/jaime_burb0681" target="_blank">
                    Jaime Burbano</a>
            </p>
        </div>
    </section>

</footer>

<script src="/javascript/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="/javascript/aparecer.js"></script>

</body>

</html>