<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El Sáman | Contacto</title>
    <link rel="icon" type="image/png" href="/imagenes/icono2.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf"
        crossorigin="anonymous">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/estilos/style.css">
</head>

<body>
    <div class="container">
        </br>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a href="/" class="navbar-brand">
                            <img alt="El Saman" src="/imagenes/logo.png">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="navbar-1">
                        <ul class="nav navbar-nav">
                            <li class="principal">
                                <a href="/nosotros">NOSOTROS</a>
                            </li>
                            <li class="dropwdown principal">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">SERVICIOS
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secundario">
                                    <li>
                                        <a href="/servicios/ventadeganado">Venta de Ganado</a>
                                    </li>
                                    <li>
                                        <a href="/servicios/asesoriatecnica">Asesoría Técnica</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown principal">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"> GÉNETICA
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secundario">
                                    <li>
                                        <a href="/genetica/embriones">Embriones</a>
                                    </li>
                                    <li>
                                        <a href="/genetica/terneras">Terneras</a>
                                    </li>
                                    <li>
                                        <a href="/genetica/novillas">Novillas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="principal active">
                                <a href="/contacto">CONTACTO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <section id="contenido" class="container-fluid">
        <section id="contacto" class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner">
                <img src="" alt="">
            </article>
            <section class="container">
                <section class="contacto col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>ENVÍANOS UN MENSAJE</h2>
                    <form action="">
                        <div>
                            <p>NOMBRE</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>APELLIDO</p>
                            <input type="text">
                        </div><div>
                            <p>EMAIL</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>TÉLEFONO</p>
                            <input type="text">
                        </div>
<div>
                            <p>EMPRESA</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>ASUNTO</p>
                            <input type="text">
                        </div>
<div>
                            <p>MENSAJE</p>
                            <input type="text">
                        </div>
                        
                        <button type="submit">ENVIAR</button>


                    </form>
                </section>
                <section class="maps"></section>
            </section>
        </section>
    </section>
</body>


<footer class="containe-fluid">
    <section>
        <div class="sombra">
            <h3>SÍGUENOS EN NUESTRAS REDES SOCIALES</h3>

            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-google-plus-square"></i>
        </div>

        <div class="desarrolladoPor">
            <p> Design by:
                <a href="https://www.behance.net/IsabellaSandoval" target="_blank">Isabella Sandoval </a> | Development by:
                <a href="https://www.behance.net/jaime_burb0681" target="_blank">
                    Jaime Burbano</a>
            </p>
        </div>
    </section>

</footer>

<script src="/javascript/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="/javascript/sweetalert2.all.js"></script>

</body>

</html>